{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-6 auth-box mt-md-5">
        <div class="proclinic-box-shadow">
            <h3 class="widget-title">Mot de passe changé avec succès</h3>
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <span class="text-danger">Nom Utilisateur</span> : <strong>{{ user.username }}</strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <span class="text-danger">Adresse Email</span> : <strong>{{ user.email }}</strong>
                </div>
            </div>
            <div class="button-btn-block">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg btn-block">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

